<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="container-fluid">

        <div class="side-nav-button p-1 text-light" (click)="toggleSideNav()">
            <i class='bx bx-menu'></i>
        </div>

        <a class="navbar-brand px-4" href="#">Home Expense Manager</a>

        <div class="navbar-collapse">

            <div class="spacer"></div>

            <form class="d-flex">

                <input class="form-control me-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>

            </form>

        </div>

    </div>

</nav>