<div class="month-data">

    <div class="month-name">
        <span>{{month.monthNumber | numberToMonth}} {{month.monthYear}}</span>
    </div>

    <div class="month-tables">
        <app-table *ngFor="let table of month.tables" [table]="table" [monthYear]="month.monthYear"
            [monthNummber]="month.monthNumber" (sumUpdated)="sumUpdated(table.tableName, $event)"></app-table>
    </div>

</div>

<div class="month-calculations">
    <div class="card" *ngFor="let calculation of month.calculations;" [ngClass]="calculation.name">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-secondary" [ngClass]="{'bg-secondary': calculation.name === 'previous-savings', 
            'bg-success': calculation.name === 'current-earnings',
            'bg-danger': calculation.name === 'current-expenditure',
            'bg-primary': calculation.name === 'current-savings'}">
                {{calculation.name.split("-").join(" ") | titlecase}}
            </li>
            <li class="list-group-item">{{calculation.value}} Rs</li>
        </ul>
    </div>
</div>