table {
  width: 100%;
  margin: 0px;
}

table td {
  padding: 10px 2px;
  text-align: center;
  vertical-align: middle;
}

table th {
  text-align: center;
  vertical-align: middle;
}

/* Column Sizing */
thead th:nth-child(1) {
  width: 30%;
  font-weight: 700;
  font-size: 1.1rem;
}

thead th:nth-child(2) {
  width: 10%;
}
thead th:nth-child(3) {
  width: 40%;
}
thead th:nth-child(4) {
  width: 20%;
}

/* Buttons */

.btn-table {
  display: block;
  width: 90%;
  margin: 0px auto;
}

.invalid-box {
  background-color: rgba(255, 0, 0, 0.4);
}
